<nav class="navbar">
  <div class="container">

    <div class="menu-left">
      <ul>
        <li>
          <h2 routerLink=""><strong>MyBooks</strong></h2>
        </li>
      </ul>
    </div>
    <div class="menu-right">
      <ul>
        <li><a routerLink="home"><b>Home</b></a></li>
        <li><a routerLink="books"><b>Books</b></a></li>
        <li><a routerLink="add-book"><b>addBook</b></a></li>
        <li><a routerLink="update-book"><b>UpdateBook</b></a></li>
        <li><a routerLink="register"><b>Register</b></a></li>
        <li><a routerLink="profile"><b>Perfil</b></a></li>
      </ul>
    </div>

  </div>
</nav>