<body>
<form class="form_registro">
    <h2>Registrate</h2>
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre" class="campo">
    <input class="controls" type="text" name="apellido" id="apellido" placeholder="Apellido" class="campo">
    <input class="controls" type="text" name="correo" id="correo" placeholder="Correo" class="campo">
    <input class="controls" type="text" name="contraseña" id="contraseña" placeholder="Contraseña" class="campo">
    <input class="btn-registrarse" type="button" value="registrarse" onclick="registrarse()">
</form>
</body>